---
import { t } from '../../utils/i18n';
import { name, email, address_line_1, address_line_2 } from '../../utils/me';
import Legal from '../layout/Legal.astro';

export interface Props {
  lang: string;
}

const { lang } = Astro.props;
---

<Legal titleKey="privacyPolicy.title" description="Privacy Policy of the website " + t('site.title', lang) lang={lang}>
  <h2>{t('privacyPolicy.sections.controller.title', lang)}</h2>
  <p>{t('privacyPolicy.sections.controller.description', lang)}</p>
  <p>
    {name}<br />
    {address_line_1}<br />
    {address_line_2}<br />
    {t('privacyPolicy.sections.controller.emailFieldTitle', lang)} {email}
  </p>

  <h2>{t('privacyPolicy.sections.rights.title', lang)}</h2>
  <p>{t('privacyPolicy.sections.rights.description', lang)}</p>
  <ul>
    <li>{t('privacyPolicy.sections.rights.rights.information', lang)}</li>
    <li>{t('privacyPolicy.sections.rights.rights.correction', lang)}</li>
    <li>{t('privacyPolicy.sections.rights.rights.deletion', lang)}</li>
    <li>{t('privacyPolicy.sections.rights.rights.restriction', lang)}</li>
    <li>{t('privacyPolicy.sections.rights.rights.objection', lang)}</li>
    <li>{t('privacyPolicy.sections.rights.rights.portability', lang)}</li>
  </ul>
  <p>{t('privacyPolicy.sections.rights.revoke', lang)}</p>
  <p>{t('privacyPolicy.sections.rights.complaint', lang)}</p>

  <h2>{t('privacyPolicy.sections.collection.title', lang)}</h2>
  <p>{t('privacyPolicy.sections.collection.description', lang)}</p>

  <h3>{t('privacyPolicy.sections.collection.purpose.title', lang)}</h3>
  <p>{t('privacyPolicy.sections.collection.purpose.description', lang)}</p>
  <p>{t('privacyPolicy.sections.collection.purpose.items.description', lang)}</p>
  <ul>
    <li>{t('privacyPolicy.sections.collection.purpose.items.connection', lang)}</li>
    <li>{t('privacyPolicy.sections.collection.purpose.items.smoothness', lang)}</li>
    <li>{t('privacyPolicy.sections.collection.purpose.items.security', lang)}</li>
    <li>{t('privacyPolicy.sections.collection.purpose.items.optimization', lang)}</li>
  </ul>
  <p>{t('privacyPolicy.sections.collection.purpose.conclusion', lang)}</p>
  <h3>{t('privacyPolicy.sections.collection.legalBasis.title', lang)}</h3>
  <p>{t('privacyPolicy.sections.collection.legalBasis.description', lang)}</p>
  <h3>Recipients:</h3>
  <p>{t('privacyPolicy.sections.collection.recipients.description', lang)}</p>
  <h3>{t('privacyPolicy.sections.collection.storagePeriod.title', lang)}</h3>
  <p>{t('privacyPolicy.sections.collection.storagePeriod.description', lang)}</p>

  <h2>{t('privacyPolicy.sections.cookies.title', lang)}</h2>
  <p>{t('privacyPolicy.sections.cookies.description', lang)}</p>

  <h2>{t('privacyPolicy.sections.changes.title', lang)}</h2>
  <p>{t('privacyPolicy.sections.changes.description', lang)}</p>

  <h2>{t('privacyPolicy.sections.questions.title', lang)}</h2>
  <p>{t('privacyPolicy.sections.questions.description', lang)}</p>

  <p style="margin-top: 2rem;"><em>{t('privacyPolicy.lastUpdated', lang)}</em></p>
</Legal>
